*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 550px;
    background-image: url("../images/im-3.jpg");
    position: relative;
}
.navbar{
    /* list-style: none; */
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    padding-top: 20px;
    width: 100%;
    height: 10%;
    text-align: center;
    justify-items: center;
    background-color: #020708;


}
.navbar li{
    list-style: none;
    padding-top: 8px;
    
  

}
.navbar li a{
    color: aliceblue;   
    text-underline-position: above;
    cursor: pointer;
    text-decoration: none;
    /* color: black; */

}
.logo{
    font-size: 30px;
    color: #d75712;
    
}

.searchbar{
    padding: 7px 20px 7px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #d75712;
}
.btn{
    padding: 7px 20px 7px 15px;
   background-color:#d75712;
   color: aliceblue;
   border: 1px solid #d75712;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
.herosection{
    display: flex;
    position: absolute;
    width: 100%;
    height: 40%;
    margin-top: 120px;

}
.firstsection{
    padding-left: 100px;
    padding-right: 150px;
    width: 50%;
    color: aliceblue;
}
.firstsection h1{
    color: #d75712;
    gap: 10px;
    font-size: 50px;
}
.firstsection p{
    margin-top: 25px;
}
.secondsection{
    width: 50%;
    display: flex;
    flex-direction: row;

    
}
.btn-1{
    margin-top: 20px;
    padding: 10px 30px 10px 30px ;
    background-color: #d75712;
    color: aliceblue;
    border-radius: 8px;
}
.loginbox{
    background-color: #020708;
    width: 225px;
    height: 280px;
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
    border-radius: 10px;
    /* padding: ; */
}
.loginbox input{
    color: aliceblue;
    background-color: #020708;
    border: none;
    outline: none;
    
}
.loginbox input:active{
    border: none;
    background-color: aliceblue;

}
.loginbox hr{
    color: #d75712;
    background-color: #d75712;
    /* padding-top: 100px; */
}
.loginbox p{
    color: aliceblue;
    text-align: center;
    justify-content: center;
}
.loginbox h3{
    color: aliceblue;
    text-align: center;
    justify-content: center;
}
.logheading{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;;
    text-align: center;
    justify-content: center;
    color: #d75712;
}
.loginbox button{
    padding-top: 5px;
    padding-bottom: 8px;
    background-color: #d75712;
    border-radius: 5px;
    outline: none;
}
.signup{
    text-decoration: none;
    color: #c06b3d;
}
.icons{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 25px;
    cursor: pointer;
    color: white;
    justify-content: center;
}